<div style="padding: 1em;overflow: auto;">
    <table class="w3-table w3-bordered">
        <tr style="font-family: sans-serif;background-color: #fff;">
          <th style="color:#00BFFF">Sr. No.</th>
          <th style="color:#00BFFF">Data Source</th>
          <th style="color:#00BFFF">Requester</th>
          <th style="color:#00BFFF">Data Owner</th>
          <th style="color:#00BFFF">Email Id Data Owner</th>
          <th style="color:#00BFFF">Created on</th>
        </tr>
        <tr>
            <td>1</td>
            <td>workbench 1</td>
            <td>mohamed.hussain@atmecs.com</td>
            <td>Mubasheer</td>
            <td>mubasheerhussain@gmail.com</td>
            <td>2020-13-11 09:10:55 AM</td>
        </tr>
      </table>
</div>
