<div style="padding: 1em;overflow: auto;">
    <table class="w3-table w3-bordered">
        <tr style="font-family: sans-serif;background-color: #fff;">
          <th style="color:#00BFFF">Sr. No.</th>
          <th style="color:#00BFFF">Workbench</th>
          <th style="color:#00BFFF">Request Type</th>
          <th style="color:#00BFFF">Deleted on</th>
          <th style="color:#00BFFF">Status</th>
        </tr>
        <tr>
            <td>8</td>
            <td>workbench 8</td>
            <td>New</td>
            <td>2020-17-11 09:54:40 AM</td>
            <td>Deleted</td>
        </tr>
        <tr>
            <td>9</td>
            <td>workbench 9</td>
            <td>New</td>
            <td>2020-17-11 09:49:02 AM</td>
            <td>Deleted</td>
        </tr>
      </table>
</div>
