<div style="padding: 1em;overflow: auto;">
    <table class="w3-table w3-bordered">
        <tr style="font-family: sans-serif;background-color: #fff;">
          <th style="color:#00BFFF">Sr. No.</th>
          <th style="color:#00BFFF">Workbench</th>
          <th style="color:#00BFFF">ATMECS Login ID</th>
          <th style="color:#00BFFF">Request Type</th>
          <th style="color:#00BFFF">Requested on</th>
          <th style="color:#00BFFF">Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>workbench 1</td>
            <td>137171</td>
            <td>New</td>
            <td>2020-17-11 09:54:40 AM</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>2</td>
            <td>workbench 2</td>
            <td>137122</td>
            <td>New</td>
            <td>2020-17-11 09:49:02 AM</td>
            <td>Approved</td>
        </tr>
      </table>
</div>
