<div style="margin-left: 2em;margin-top:1.5em;padding: 1.3em;">
    <div style="display: flex;flex-wrap: wrap;background-color: #fff;height:3em;width:50%;">
        <span style="font-size: 1.6em;margin-top: 10px;margin-left:1.6em;color:#00BFFF"> My Profile </span>
    </div>
    <br /><br />
    <form class="example-form">
        <mat-form-field class="example-full-width" style="width:50%;font-size:1em;margin-bottom:1em;">
            <mat-label>Name</mat-label>
            <input matInput disabled value="Mubasheer">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" style="width:50%;font-size:1em;margin-bottom:1em;">
            <mat-label>ATMECS Login Id</mat-label>
            <input matInput disabled value="mohamed.hussain@atmecs.com">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" style="width:50%;font-size:1em;margin-bottom:1em;">
            <mat-label>ATMECS AWS Id</mat-label>
            <input matInput value="mohamed.hussain">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" style="width:50%;font-size:1em;margin-bottom:1em;">
            <mat-label>Bitbucket Id</mat-label>
            <input matInput value="AG142">
        </mat-form-field>
        <br/><br/>
        <button mat-raised-button
            style="background-color: #00BFFF;height:2.2em;color: #fff;font-size: 1.3em;outline: none;border-radius: 0px;border-radius:5px;margin-left:22em;">Update</button>
        <br />
    </form>
</div>